# Git
.git
.gitignore
.gitmodules
.gitattributes
.github

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
ENV/

# Dependencies
node_modules
**/node_modules
.venv
**/.venv
.notebooklm-cli-venv/
.notebooklm-playwright/
.pip-cache/
.uv-cache/

# IDE
.vscode
.wrangler
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/

docs/

*.sh
*.ts
*.md
*.jsonc
*.local
*.example
.env.example
.envrc
.hadolint.yaml
*.log
Makefile
