name: Ruff Code Formatter

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Run Ruff
        run: uv run ruff format --check --diff --exclude '**/tests/fixtures/**' .
